.banner {
    position: relative;
    padding: 4rem 0 4rem;
    overflow: hidden;
}
.banner.banner--alt {
    padding: 4rem 3rem;
}

.jumbotron {
    background: rgba(238, 238, 238, 0.8);
    border-radius: 8px;
}

.jumbotron--white {
    background: #fff;
}

.bg-primary {
    background: url('./img/halftone.png');
}
.bg-secondary {
    background: url('./img/stacked_circles.png');
}
.bg-grey {
    background: #f1f1f1;
}

.pack {
    margin-bottom: 1.5rem;
}
.pack__contents {
    padding: 1rem;
    background: rgba(238, 238, 238, 0.8);
    border: 1px solid #ddd;
    border-radius: 6px;
}
.pack__sale {
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
}
.pack__buy {
    margin-top: 1rem;
}

@include media-breakpoint-up(md) {
    .banner {
        padding: 4rem 0 7rem;
    }
    .banner.banner--alt {
        height: 480px;
    }
}

@include media-breakpoint-up(lg) {
    .banner {
        padding: 4rem 0 8rem;
    }
}